@{
    ViewData["Title"] = "Home Page";
}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quisquam ab facerecumque hic quod quis laborum aut vel impedit, dolor porro ad maxime totam odio! Quas officiis natus fugiat.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quisquam ab facerecumque hic quod quis laborum aut vel impedit, dolor porro ad maxime totam odio! Quas officiis natus fugiat.
    </p>
